<div class="application">

    <app-header [navRef]="sidenav" class="app-header"></app-header> <!-- header -->



    <md-sidenav-container class="sidenav-container app-container">  <!-- container grp -->
        <md-sidenav #sidenav mode="side" opened="true">  <!-- side-nav -->
           <app-sidenav></app-sidenav>
        </md-sidenav>
  
        <div class="app-content">   <!-- app-container ( main content goes here ) -->
          <router-outlet></router-outlet>  <!-- views changed by ng2-router -->
        </div>
    </md-sidenav-container>



    <button md-mini-fab class="md-c-fab" (click)="sidenav.toggle()">
      <md-icon>add</md-icon>
    </button>

</div>







  